{% extends 'base.html' %}


{% block title %}
  <title>  Question create  </title>
{% endblock %}


{% block content %}
    {% if error  %}
        <h1> {{ error }}</h1>
    {%  endif %}
    {{ quiz.name }}
    {% if quiz.questions.exists %}
        {% for question in quiz.questions.all %}
            <p>{{ question.text }}</p>
        {% endfor %}
    {% endif %}

    <h1>Question create</h1>

    <form method="post">
      {% csrf_token %}
      {{ question_form.as_p }}
        {{ answer_formset.management_form}}
        <h1>Answers</h1>
        {% for form in answer_formset %}
            <p>{{ forloop.counter }} Answer</p>
            {{ form.as_p }}
        {% endfor %}
      <button type="submit">Save</button>
    </form>

{% endblock %}